/*COLLEGE NAVY HEX COLOR: #002244; RGB: (0,21,50)
ACTION GREEN HEX COLOR: #69BE28; RGB: (105,190,40)
WOLF GRAY HEX COLOR: #A5ACAF; RGB: (155,161,162)*/

.tk-primary-navbar {
  background-color: #002244;
  margin-bottom: 0;
  height: 80px;
  border-bottom: 3px solid #69BE28;
}

#tk-primary-nav-link {

  margin-top: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  margin-left: 10px;
  color: #A5ACAF;
}

#tk-primary-nav-link.nav.navbar.li {
  margin-top: 10px;
}

#logo {
  font-family: 'Alegreya', sans-serif;
  margin-right: 35px;
  color: #69BE28;
  font-size: 32px;
  margin-bottom: 25px;
}

.navbar-header {
  margin-left: 30px;
}

.navbar-brand {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 4px;
  padding: 0;
  height: 80%;
  width: 80%;
}

.silver {
  color: #A5ACAF;
}

#tk-secondary-nav-link {
  margin-top: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-left: 10px;
  color: #A5ACAF;

}

