/*COLLEGE NAVY HEX COLOR: #002244; RGB: (0,21,50)
ACTION GREEN HEX COLOR: #69BE28; RGB: (105,190,40)
WOLF GRAY HEX COLOR: #A5ACAF; RGB: (155,161,162)*/
/*$color1: rgba(12, 18, 12, 1);*/
/*$color2: rgba(194, 1, 20, 1);*/
/*$color3: rgba(109, 114, 117, 1);*/
/*$color4: rgba(199, 214, 213, 1);*/
/*$color5: rgba(236, 235, 243, 1);*/
.tk-primary-navbar {
  background-color: rgba(12, 18, 12, 1);
  margin-bottom: 0;
  height: 80px;
  border-bottom: 3px solid rgba(194, 1, 20, 1);
}

#tk-primary-nav-link {

  margin-top: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
  margin-left: 10px;
  color: rgba(236, 235, 243, 1);
}

#tk-primary-nav-link.nav.navbar.li {
  margin-top: 10px;
}

#logo {
  font-family: 'Alegreya', sans-serif;
  margin-right: 35px;
  color: rgba(199, 214, 213, 1);
  font-size: 32px;
  margin-bottom: 25px;
}

.navbar-header {
  margin-left: 30px;
}

.navbar-brand {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 4px;
  padding: 0;
  height: 80%;
  width: 80%;
}

.silver {
  color: rgba(194, 1, 20, 1);
}

#tk-secondary-nav-link {
  margin-top: 22px;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  margin-left: 10px;
  color: rgba(199, 214, 213, 1);

}

